name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'

      - name: Install Ant and ant-contrib
        run: |
          sudo apt update
          sudo apt install -y ant ant-contrib

      - name: Build UBL subset (Demo profile)
        run: |
          ant -f subsetUBLSchemas.xml -DconfigDirectory=DemoUBL21Subset

      - name: Upload artefacts
        uses: actions/upload-artifact@v4
        with:
          name: ubl-subset
          path: ./UBL-*
